<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-clear button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content data-tap-disabled="true">
        <div class="list card padding">
            <label class="item item-input item-select">
                <div class="input-label">
                    Tipo
                </div>
                <select ng-model="bug.tipo" ng-options="tipo for tipo in tipos">
                </select>
            </label>
            <div class="list list-inset">
                <label class="item item-input">
                    <textarea ng-model="bug.descricao" rows="10" placeholder="O que aconteceu?"></textarea>
                </label>
            </div>
            <button ng-click="send()" class="button button-full button-assertive">
                Enviar
            </button>
        </div>
    </ion-content>
</ion-view>