<style>.popover { height:120px; }</style>
<ion-popover-view>
    <ion-content>
        <div class="list">
            <a ng-click="locate()" class="item" target="_blank">
                <i class="icon ion-pinpoint"></i>
                <span>Localizar</span>
            </a>
            <a ng-click="loadSwaps()" class="item" target="_blank">
                <i class="icon ion-android-refresh"></i>
                <span>Atualizar</span>
            </a>
        </div>
    </ion-content>
</ion-popover-view>