<ion-view>
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
        <button ng-click="loadSwaps()" class="button button-icon icon ion-android-refresh"></button>
		<button ng-click="givePlace()" class="button button-icon icon ion-pin"></button>
	</ion-nav-buttons>
	<ion-content data-tap-disabled="true">
    	<leaflet defaults="mapa().defaults" center="mapa().center" markers="mapa().markers" ng-if="mapa()"></leaflet>
	</ion-content>
</ion-view>